<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>peTKUKsWXZtJ8/cI87B7Fz3Y8iRXO0nxT1+0vuX0NO1Jswax9ytu0ci3tpUOne3gjFP+a7tGCetoYUdtBqWZ35agHzX/1QEEjCB1k0vhzf4jt1QorGA2Tt0aYcrw8X68fyd7si1teyBMv7nUG/NuK+Xm4h6ACX5NoITG+XXeODlEAK5IJ0zJv7Jx2Zg0A3nCoS0aSWl9PxVBdNJJ3xnjZ7fwrhOEXTH/VJ7yOL2MEB0Bkv23dUa8sXbngfxtiyrRSdb7Xqb3ZALC52l60ZsQLkuASF1rlAstBBIyDHMTwqOwLj3l0IorrDkruMwKaJxINcr8wn58En12OjWXEFkctQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>p8yvAFSD0XVbj/bwabJUolxZdxEysn8I48z4AgIcrcgQJV3EC0522M7eGmlwken2EamHQWWG9wHG7sCDe5b17xmeCFtJ67j63+GxC/gv+DmrymUqEUAbumO7jyl9W7Zhma+5XmbOYcK0JCkSc86x5NMUUaVhmfdelJHlHWt59L5dzdH5DR4JRRKntdQSrd267xy/bymCDCN5Gt8vjfkBIeMTArOh/wNupe6iJNqPhC63hzM9KL/oXiuygped/qRsnyRs3+140PHtRbdAvMzv/xQsBIwsJ6U1fxvCYiogJFnC3jy/MaMhnC+WjIXzrzhAki+iAcMIwTodDKDjeb9SqsjK5Bc+2wjYe3AKOrpWERzD3o3sFC+OGiwnVTMpdVAfQ0+echdcbdwLg5QYrm8oDI8dNDYCuTPVMnuA2jXknVI=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="LogIn entrys empty" value="Todos los campos son obliatorios" />
    <add key="ERROR" value="ERROR" />
  </appSettings>

</configuration>