<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>kcHF2B4nYnXjjorA2FNclXu9FMh840TSbD2natHi5x+kufVaq+NzOsICrM4NKx13glMnxTWOp+RjKf811fZuiy269ofFkFLPoLW59m4vSoCpSMIgnPMWAmMfU4L/8xRQgo18yix0cRo/IihVz8BXklJ+gOBAoLPUZjljoMc5KYRVqbPN2Jamqfw+99mOT0zdFWx2lVTEfl3gjebVzoIqQBz4KeJZBs+jLG77IYYOUSpKYm14dZ8T8naAPY8/BlAZqaAOnnkc+97XjZr7IC5mrqSY+N3UK6xB/5C1GQjVIbNkznS06TgzDwA6CHRbRp+n/jgPxmjk1DLUz6II7Odm5g==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>y70PIU1z1KniGshnsX6/E1RVEXaz9W5Qmcu+/iE5kVbKkRbuIds9GUZsjot6RsQ/cPDXs89hVTTNUR6M1wyQKcw4m/djHDiQ0U1ecZuww+Ejszk0ahMN2hPmbQ+Uap2aTa3zY+UkzjagOjFqfr5q2TFOfeUOv4uXjxNADm/68N81QuZ5D24DA1H0asi7vZuzIW5/wUEx2zsi+U3WBvPfmAX05bZdswwLLm2pokQsBAenwbN+LUvDxU1r6Fy5a6Ss7qaYffA/OLVZ4Y9wvhEmtMMyPGnzBqCzeNEvRoIvvApV0qy5iPElKSL3C/aTRvdIn9gWwrk1noB6e4szp/uXx8LHDrjPGnsdC0E09bWIxGdYEE2kPlA/8QttJJF2s4lquu/BYjnSkVAC24ZOGy6/H4HRxw2hUH3zDAA71i1SgPQ=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="LogIn entrys empty" value="Todos los campos son obliatorios" />
    <add key="ERROR" value="ERROR" />
  </appSettings>

</configuration>